.footer-container {
  color: #fff;
  background: hsl(260, 8%, 14%);
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-hero img {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.footer-links {
  display: flex;
  align-items: center;
  margin-top: -25px;
  justify-content: center;
  gap: 50px;
}
a {
  text-decoration: none;
  font-size: 0.8rem;
  color: hsl(257, 7%, 63%);
}

.footer-link-features,
.footer-link-resources,
.footer-link-company {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.footer-link-features p,
.footer-link-resources p,
.footer-link-company p {
  margin-bottom: 10px;
}
.footer-link-company {
  margin-top: 20px;
}
.footer-social-container {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-hero,
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-links {
    flex-direction: column;
    margin-bottom: -50px;
  }
  .footer-link-features,
  .footer-link-resources,
  .footer-link-company {
    text-align: center;
    margin: 0;
  }
  .footer-social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
