.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px 0px 50px;
}
.header-hero img {
  max-width: 600px;
}
.header-content {
  max-width: 500px;
}
.header-content h1 {
  font-size: 3rem;
}
.header-content button {
  padding: 10px 35px;
  border-radius: 15px;
  background: hsl(180, 66%, 49%);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header-content p,
  h1 {
    text-align: center;
  }
}
