.linkInput-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 35px;
  width: 70%;
  background-color: hsl(257, 27%, 26%);
  background-image: url(../assets/images/bg-shorten-desktop.svg);
  border-radius: 10px;
}
.link-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 500px; */
  /* gap: 15px; */
}
.link-content-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 500px; */
  /* gap: 15px; */
}

.link-content-input {
  border: none;
  outline: none;
  width: 100%;
  margin-right: -20px;
  font-size: 0.9rem;
}
.link-content input {
  padding: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 80%;
  font-size: 0.9rem;
}

.link-content-red input {
  padding: 18px;
  border-radius: 10px;
  border: 3px solid red;
  outline: none;
  width: 80%;
  font-size: 0.9rem;
}
.add-link {
  color: red;
  font-style: italic;
}

.linkInput-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.link-content button {
  padding: 18px 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: hsl(180, 66%, 49%);
  color: #fff;
  width: 20%;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}
.link-content-red button {
  padding: 18px 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: hsl(180, 66%, 49%);
  color: #fff;
  width: 20%;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}
.result-content {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 70%;
  font-size: 1rem;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

.copy-button button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: hsl(180, 66%, 49%);
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.shortened-link {
  gap: 15px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left: auto;
}
.short-url-link a {
  font-size: 1rem;
  color: hsl(180, 66%, 49%);
}
