.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 250px 25px 125px;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  margin-right: 25px;
}
nav img {
  margin-right: 35px;
}

.nav-buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 45px;
  cursor: pointer;
}
.sign-up-button {
  background: hsl(180, 66%, 49%);
  color: #fff;
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 25px 50px 25px 50px;
  }
  nav a,
  .nav-buttons button {
    display: none;
  }
}
