.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 250px 25px 125px;
}
.navbar nav {
  display: flex;
  align-items: center;
}
.navbar nav a {
  text-decoration: none;
  color: black;
  margin-right: 25px;
}
nav img {
  /* margin-right: 35px; */
}

.nav-buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 45px;
  cursor: pointer;
}
.sign-up-button {
  background: hsl(180, 66%, 49%);
  color: #fff;
}
.hamburger {
  display: none;
}
.mobile-options,
.navbar-active,
.nav-buttons-active {
  display: none;
}

hr {
  display: none;
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 25px 50px 25px 50px;
  }
  .navbar nav a,
  .nav-buttons button {
    display: none;
  }
  .nav-buttons-active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-buttons-active button {
    display: block;
    width: 80%;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
  }
  .nav-buttons-active button:nth-child(2) {
    background: transparent;
    color: #fff;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 25px 50px 25px 50px;
  }
  .bar {
    display: block;
    width: 50px;
    height: 6px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  .navbar-active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-image {
  }
  .navbar-active nav {
    position: fixed;
    top: 5rem;
    left: 10%;
    flex-direction: column;
    background-color: hsl(257, 27%, 26%);
    width: 80%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    margin: 2.5rem 0;
    font-size: 1.5rem;
  }
  .mobile-options {
    display: flex;
  }
  hr {
    display: block;
    width: 90%;
    color: hsl(0, 0%, 75%);
    margin-bottom: 50px;
  }
}
